<% provide(:title, "About") %>
<h1>About</h1>
<p>
	The Microblogger app allows you to create a profile, post Twitter-length bits of text (as well as images), and to follow other users in order to view a feed of their posts. The creation of this app is the main focus of Michael Hartl's <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>.  
</p>
<p>
  The tutorial gives a thorough introduction to web application development, including a basic grounding in Ruby, Rails, HTML and CSS, databases, version control, testing, and deployment. It also teaches the essentials of the Rails framework, including MVC and REST, generators, migrations, routing, and embedded Ruby.
</p>